*{
    background-color: #FFFFFF;
}
.heading>h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 44px;
    font-weight: bold;
}
.borderBox{
    width: 250px;
    max-height: 200px;
    margin-right:20px ;
    justify-content: space-around;
    box-shadow: 2px 2px 3px grey;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 10px solid rgba(0,0,255, 0.5);
}
.borderBox1{
    width: 250px;
    max-height: 200px;
    margin-right:20px ;
    justify-content: space-around;
    box-shadow: 2px 2px 3px grey;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 10px solid rgba(0,255,0, 0.5);
}
.borderBox2{
    width: 250px;
    max-height: 200px;
    margin-right:20px ;
    justify-content: space-around;
    box-shadow: 2px 2px 3px grey;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 10px solid rgba(255,0,0, 0.5);
}
.fa-viruses{
    color: black !important;
    font-size: 24px !important;
}